
<br>
<br>
<br>

<div class="container" id="container">
    <div class="form-container registrate-container">
        <form action="#">
            <h2>Create una cuenta</h2>
            <div class="social-container">
                <!--aca va las redes sociales-->

            </div>
            <span>o use su correo personal para registrarse</span>
            <br>
            <mat-form-field>
                <input matInput placeholder="Nombre" type="nombreuser">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Correo electronico" type="email">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="contraseña nueva" type="password">
            </mat-form-field>

            <button mat-raised-button class="verde">Registrarme</button>


            

        </form>

    </div>

    <div class="form-container ingreso-container">
        <form action="#">
            <h2>Ingreso</h2>
            <div class="social-container">
                <!--aca va las redes sociales-->

            </div>
            <span>o use su cuenta </span>
            <br>
           

            <mat-form-field>
                <input matInput placeholder="Correo electronico" type="email">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="contraseña" type="password">
            </mat-form-field>

            <a href="#">¿Olvidaste tu contraseña?</a>

            <button mat-raised-button class="verde">Ingreso</button>


            

            

        </form>

    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <img src="assets/img/logo.png" style="width: 200px; height: 100px;">

                <h1>¡Bienvenido!</h1>
                <p>
                    Si tienes tu cuenta, solo ingresa 
                </p>

                <button mat-raised-button color="primary" class="ghost" id="signIn">Ingresar</button>

            </div>

            <div class="overlay-panel overlay-right">
                <img src="assets/img/logo.png" style="width: 200px; height: 100px;">

                <h1>¿Eres nuevo aqui?</h1>
                <p>
                    ¡Registrate y realiza tus compras ya!
                </p>
                <button mat-raised-button color="primary" class="ghost" id="signUp">Registrarme</button>

            </div>

        </div>

    </div>
 
</div>

